:host {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    > .container {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: #F59E0B 2px solid;
        border-radius: 1rem;
        box-shadow: 0 2px 2px rgba(210, 105, 30, 0.12), 0 4px 2px rgba(210, 105, 30, 0.24);
        
    }
}

.user-info {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #F59E0B 1px solid;
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(210, 105, 30, 0.12), 0 4px 2px rgba(210, 105, 30, 0.24);
}

.edit-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #F59E0B 2px solid;
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(210, 105, 30, 0.12), 0 4px 2px rgba(210, 105, 30, 0.24);
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: scroll;
    > label {
        font-weight: bold;
    }
    > input {
        width: 50%;
        height: 2rem;
        border: 1px solid #F59E0B;
        border-radius: 0.25rem;
        padding: 0.25rem;
    }
    > button {
        width: 25%;
        height: 2rem;
        border-radius: 0.25rem;
        padding: 0.25rem;
        background-color: #F59E0B;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;}
}

.ui-dropdown    {
    width:100% !important;
    height: 2rem !important;
    border: 1px solid #F59E0B !important;
    border-radius: 0.25rem !important;
    padding: 0.25rem !important;;   
  } 

.ui-dropdown:hover{
    border: 1px solid #F59E0B !important;
    border-radius: 0.25rem !important;
    padding: 0.25rem !important;;   
  }


.align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: #F59E0B;
    font-size: 2rem;
    font-weight: 600;
    font-style: oblique;
    padding-bottom: 2rem;
}

.div_button {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: #F59E0B;
    font-size: 2rem;
    font-weight: 600;
    font-style: oblique;
}