
<div class="container">
    <a routerLink="account"><p-button label="My account" styleClass="p-button-raised  p-button-text p-button-warning"></p-button></a>
    <a routerLink="properties"><p-button label="My properties" styleClass="p-button-raised  p-button-text p-button-warning"></p-button></a>
    <a routerLink="add-property"><p-button icon="pi pi-plus" label="Add a property" styleClass="p-button-warning"></p-button></a>
    <a routerLink="rents"><p-button label="My rents" styleClass="p-button-raised p-button-text p-button-warning"></p-button></a>
</div>