:host {
    width: 100%;
    height: 100%;
    display: block;
    > .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > form {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            gap: 1rem;
            border: #F59E0B 2px solid;
            border-radius: 1rem;
            box-shadow: 0 2px 2px rgba(210, 105, 30, 0.12), 0 4px 2px rgba(210, 105, 30, 0.24);
            > label {
                font-weight: bold;
            }
            > input {
                width: 50%;
                height: 2rem;
                border: 1px solid #F59E0B;
                border-radius: 0.25rem;
                padding: 0.25rem;
            }
            > button {
                width: 25%;
                height: 2rem;
                border-radius: 0.25rem;
                padding: 0.25rem;
                background-color: #F59E0B;
                color: #ffffff;
                font-weight: bold;
                cursor: pointer;}
        }
    }
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: #F59E0B;
    font-size: 2rem;
    font-weight: 600;
    font-style: oblique;
    padding-bottom: 2rem;
}