<div class="header">
  <div class="logo">
    <a routerLink=""><img src="assets/images/logo.png" alt="logo" />&nbsp; StayNest</a>
  </div>

  <div class="search">
    <div class="searchZone">
      SEARCH
    </div>
  </div>

  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu"><img src="../assets/images/menu.png" width="25%"></button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="register">Register</a></button>
    <button mat-menu-item><a routerLink="login">Login</a></button>
    <button mat-menu-item><a routerLink="messages">Messages</a></button>
    <button mat-menu-item><a routerLink="trips">Trips</a></button>
    <button mat-menu-item><a routerLink="wishlist">Wishlist</a></button>
    <button mat-menu-item><a routerLink="account">Account</a></button>
    <button mat-menu-item><a routerLink="help">Help</a></button>
    <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</div>

<div class="main">
  <div class="style">
    <app-carousel></app-carousel>
  </div>
  <div class="items">
      <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  &copy; 2023 - StayNest 
</div>