<div class="header">
  <div class="logo">
    <a routerLink=""><img src="assets/images/logo.png" alt="logo" />&nbsp; StayNest</a>
  </div>

  <div class="search">
    <div class="searchZone">
        <p-button (click)="showDialog()" label="Where're you going next ... ? " icon="pi pi-search" styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
        <p-dialog header="Where're you going next ?" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw', height: '50vh' }" [draggable]="false" [resizable]="false">
          <div class="edit-info">
            <form [formGroup]="searchForm">
              <label for="country">Country:</label>
              <input id="country" type="text" >
              <label for="city">City:</label>
              <input id="city" type="text" >
              <label for="startDate">Start Date:</label>
              <p-calendar [(ngModel)]="date" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
              <label for="endDate">end Date:</label>
              <p-calendar [(ngModel)]="date" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
              <label for="numberOfGuests">Number of guests:</label>
              <input id="numberOfGuests" type="number" >

              <p-button type="submit" label="Search for happiness" styleClass="p-button-warning"></p-button>
            </form>
          </div>
        </p-dialog>
    </div>
  </div>

  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu"><img src="../assets/images/menu.png" width="20%"></button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="register">Register</a></button>
    <button mat-menu-item><a routerLink="login">Login</a></button>
    <button mat-menu-item><a routerLink="messages">Messages</a></button>
    <button mat-menu-item><a routerLink="trips">Trips</a></button>
    <button mat-menu-item><a routerLink="wishlist">Wishlist</a></button>
    <button mat-menu-item><a routerLink="account">Account</a></button>
    <button mat-menu-item><a routerLink="help">Help</a></button>
    <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</div>

<div class="main">
  <div class="style">
    <app-carousel *ngIf="(carouselStateService.isActive$) | async"></app-carousel>
    <app-account-menu *ngIf="(accountMenuStateService.isAccount$) | async"></app-account-menu>
  </div>
  <div class="items">
      <router-outlet></router-outlet>
  </div>
</div>