<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1 class="align">Register</h1>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
      
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
      
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
      
        <button type="submit">Register</button>
      </form>
</div>