<div class="container">
  <div class="messages">
    <div class="msg_user">
      <p class="msg">&nbsp;{{ user_message }}</p>
      <p class="username">{{ username }} : </p>
    </div>
    <div class="msg_host">
      <p class="hostname">{{ hostname }} : </p>
      <p class="msg">&nbsp;{{ host_message }}</p>
    </div>
    <div class="msg_user">
      <p class="msg">&nbsp;{{ user_message }}</p>
      <p class="username">{{ username }} : </p>
    </div>
    <div class="msg_host">
      <p class="hostname">{{ hostname }} : </p>
      <p class="msg">&nbsp;{{ host_message }}</p>
    </div>
    <div class="msg_user">
      <p class="msg">&nbsp;{{ user_message }}</p>
      <p class="username">{{ username }} : </p>
    </div>
    <div class="msg_host">
      <p class="hostname">{{ hostname }} : </p>
      <p class="msg">&nbsp;{{ host_message }}</p>
    </div>
    <div class="msg_user">
      <p class="msg">&nbsp;{{ user_message }}</p>
      <p class="username">{{ username }} : </p>
    </div>
    <div class="msg_host">
      <p class="hostname">{{ hostname }} : </p>
      <p class="msg">&nbsp;{{ host_message }}</p>
    </div>
  </div>
  <div class="input">
    <input type="text" placeholder="Type a message">
    <button>Send</button>
  </div>
</div>