<div class="container">
  <div class="messages">
    <div class="msg_user" *ngIf="user_message">
      <p class="msg">&nbsp;{{ user_message }}</p>
      <p class="username">{{ username }} : </p>
    </div>
    <div class="msg_host" *ngIf="host_message">
      <p class="hostname">{{ hostname }} : </p>
      <p class="msg">&nbsp;{{ host_message }}</p>
    </div>
  </div>
  <div class="input">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="message" placeholder="Type a message">
      <button type="submit">Send</button>
    </form>
  </div>
</div>
