<div class="container">
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart-fill" style="position: absolute; top: 10px;  right: 10px; color: darkred;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                <a routerLink="/place">
                Wellin, Belgique
                </a>
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <p-galleria
                [value]="images"
                [indicatorsPosition]="position"
                [showIndicators]="true"
                [showThumbnails]="false"
                [showItemNavigators]="true"
                [showIndicatorsOnItem]="showIndicatorsOnItem"
                [responsiveOptions]="responsiveOptions"
                [circular]="true"
                [containerStyle]="{ 'width': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" style="width: 100%; height: 100%; display: block; border-radius: 1rem;" />
                    <i class="pi pi-heart" style="position: absolute; top: 10px;  right: 10px; color: white;"></i>
                </ng-template>
            </p-galleria>
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
</div>