:host {
    display: block;
    width: 100%;
    height: 100%;
    .container {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 1rem 0 0 ;
        > .place {
            width: 15%;
            height: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 1rem;
            > .place_img {
                border-radius: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                > img {
                    width: 95%;
                    object-fit: cover;
                }
            }
            > .place_info {
                width: 75%;
                padding: .5rem;
                line-height: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                > .place_name {
                    font-size: 1.25rem;
                    font-weight: bold;
                    text-align: center;
                }
                > .place_price {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}