<div class="container">
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
    <div class="place">
        <div class="place_img">
            <img src="./assets/images/logo.png">
        </div>
        <div class="place_info">
            <div class="place_name">
                Wellin, Belgique
            </div>
            <div class="place_price">
                449€/nuit
            </div>
        </div>
    </div>
</div>