<div class="container">
    <div class="user">
      <div class="user_img">
        <img src="../../assets/images/pngegg.png" alt="user">
      </div>
      <div class="user_name">
        User Name
      </div>
    </div>
    <div class="user">
      <div class="user_img">
        <img src="../../assets/images/pngegg.png" alt="user">
      </div>
      <div class="user_name">
        User Name
      </div>
    </div>
    <div class="user">
      <div class="user_img">
        <img src="../../assets/images/pngegg.png" alt="user">
      </div>
      <div class="user_name">
        User Name
      </div>
    </div>
    <div class="user">
      <div class="user_img">
        <img src="../../assets/images/pngegg.png" alt="user">
      </div>
      <div class="user_name">
        User Name
      </div>
    </div>
    <div class="user">
      <div class="user_img">
        <img src="../../assets/images/pngegg.png" alt="user">
      </div>
      <div class="user_name">
        User Name
      </div>
    </div>
    <div class="user">
      <div class="user_img">
        <img src="../../assets/images/pngegg.png" alt="user">
      </div>
      <div class="user_name">
        User Name
      </div>
    </div>
  </div>  