@import "primeicons/primeicons.css";

html, body { 
    min-height: 100vh; 
    background-color: #F59E0B;
    text-decoration: none;
}
body { 
    margin: 0; 
    font-family: var(--font-family); 
}

a {
    text-decoration: none;
    color: #F59E0B;
}

.mat-mdc-button, .mat-mdc-outlined-button {
    --mat-mdc-button-persistent-ripple-color: transparent;
    --mat-mdc-button-ripple-color: transparent;
}
