<div class="container">
    <div class="header">
        <div class="placename">
            <h1 class="align">{{property?.name}} </h1>
        </div>
        <div class="place-sum-infos">
            <p>{{property?.address}}</p>
            <i class="pi pi-heart-fill"></i>
        </div>
    </div>
    
    <div class="main">
        <div class="place-booking-infos">
            <div class="price-night">
                {{property?.priceByNight}}€ / night
            </div>
            <div class="booking-infos">
                <div class="startdate">
                    <label for="startDate">Start date:</label>
                    <p-calendar id="startDate"  [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
                </div>
                <div class="enddate">
                    <label for="endDate">End date:</label>
                    <p-calendar id="endDate"  [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
                </div>
                <div class="numguests">
                    <label for="numberOfGuests">Number of guests:</label>
                    <input id="numberOfGuests" type="number" >
                </div>
            </div>
            <div class="booking-button">
                <p-button type="submit" label="Book" styleClass="p-button-warning"></p-button>
            </div>
            <div class="price-infos">
                <div class="price">
                    <p>{{property?.priceByNight}}€ x 3 nights</p> 
                    <!-- {{booking?.numberofnights}} -->
                    <p>237€</p>
                </div>
                <div class="cleaning">
                    <p>Cleaning fee</p>
                    <p>20€</p>
                </div>
                <div class="service">
                    <p>Service fee</p>
                    <p>20€</p>
                </div>
            </div>
            <div class="price-total">
                <div class="total">
                    <p>Total</p>
                    <p>277€</p>
                </div>
            </div>
        </div>
        
        <div class="place-info-main">
            <div class="map-photos">
                <div class="map" id="map">
                    
                </div>
                <div class="photos">
                    <p-galleria
                        [value]="images"
                        [indicatorsPosition]="position"
                        [showIndicators]="true"
                        [showThumbnails]="false"
                        [showItemNavigators]="true"
                        [showIndicatorsOnItem]="showIndicatorsOnItem"
                        [responsiveOptions]="responsiveOptions"
                        [circular]="true"
                        [containerStyle]="{ 'width': '35rem', 'height': '100%', 'overflow': 'hidden', 'border-radius': '1rem'}">
                        <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="height: 100%; display: block; border-radius: 1rem;" />
                        </ng-template>
                    </p-galleria>
                </div>
            </div>
            <div class="description">
                <h2>Description</h2>
                <p>{{property?.description}}</p>
            </div>
            <div class="property-info">
                <div class="property-type">
                    <h2>Property type</h2>
                    <p>{{property?.propertyType}}</p>
                </div>
                <div class="NumberOfGuests">
                    <h2>Number of Guests</h2>
                    <p>{{property?.numberOfGuests}}</p>
                </div>
                <div class="bedrooms">
                    <h2>Bedrooms</h2>
                    <p>{{property?.numberOfRoom}}</p>
                </div>
                <div class="beds">
                    <h2>Room type</h2>
                    <p>{{property?.roomType}}</p>
            </div>
            <div class="amenities" *ngFor="let amenities of amenities">
                <h2>{{property?.amenities}}</h2>
            </div>
            <div class="house-rules">
                <h2>House rules</h2>
                <p>{{property?.houseRules}}</p>
                <p>Check-in time is : {{property?.checkinTime}} </p>
                <p>check out time :  {{property?.checkoutTime}}</p>
                <p>{{property?.allowSmoking?"Smoking allowed":"No smoking"}}</p>
                <p>{{property?.allowPets?"Pets allowed":"No pets"}}</p>
                <p>{{property?.allowParties?"Parties allowed":"No parties"}}</p>
            </div>
        </div>
    </div>
</div>